:root {
    // colors
    --white: #fff;
    --black: #06072d;
    --primary: #0A0C4E;
    --secondary: #6693D8;
    --highlight-1: #3D56BD;
    --highlight-2: #A5A4D6;
    --text-color: #eeedf7;
    --highlight-1-trans: #3d56bd99;
    --grey0: #f8f8f8;
    --grey1: #dbe1e8;
    --grey2: #b2becd;
    --grey3: #6c7983;
    --grey4: #454e56;
    --grey5: #2a2e35;
    --grey6: #12181b;
    --border1: #394047;
    --border2: #22252b;
    // other styles
    --trans: all .4s ease-in-out;
    --br-sm: 8px;
    --br-md: 12px;
    --standard-border: 1px solid #a5a4d680;
  }