* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  :root {
    --white: #fff;
    --black: #06072d;
    --primary: #0A0C4E;
    --secondary: #6693D8;
    --highlight-1: #3D56BD;
    --highlight-2: #A5A4D6;
    --text-color: #eeedf7;
    --highlight-1-trans: rgba(61, 86, 189,0.60);
    --grey0: #f8f8f8;
    --grey1: #dbe1e8;
    --grey2: #b2becd;
    --grey3: #6c7983;
    --grey4: #454e56;
    --grey5: #2a2e35;
    --grey6: #12181b;
    --trans: all .4s ease-in-out;
    --br-sm: 8px;
    --standard-border: 1px solid rgba(165, 164, 214,.5);
  }
  
  /* ------------------------ General ----------------------------- */
  html {
    height: 100%;
  }
  
  body {
    background-color: var(--primary);
    font-family: 'Barlow', sans-serif;
    font-size: 1.1rem;
    color: var(--text-color);
    min-height: 100%;
  }

  img {
    display: block;
  }
  
  
  /* typography */
  a {
    display: inline-block;
    text-decoration: none;
    color: var(--highlight-2);
    font-family: inherit;
    transition: var(--trans);
  }

  a:hover {
    color: var(--highlight-1);
    font-weight: bold;
  }

  h1, h2, h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
  }
  h4, h5, h6 {
    font-family: 'Barlow Condensed', sans-serif;
  }

  p {
    max-width: 80ch;
    line-height: 1.33;
  }

  .title, .subtitle {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .title {
    font-size: 3rem;
    padding-top: 1rem;
  }

  .subtitle {
    margin: 0 auto;
    color: var(--highlight-2);
    font-size: 0.8rem;
  }

  .hero--text {
    margin-left: 0.75em;
  }

  .link-subtitle {
    color: var(--secondary);
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(0.5turn);
    letter-spacing: 0.15rem;
  }

  .block-title {
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }
  
  .block-text {
    margin-top: 1rem;
  }
  
  .stack-icon i {
    font-size: 1.66rem;
    color: var(--highlight-2);
  }
  
  footer p {
    margin: 0 auto;
    text-align: center;
  }

  /* navigation and links */
  .icon-links {
    color: var(--highlight-2);
    display: flex;
    align-items: center;
    gap: 0.80rem;
    transition: var(--trans);
  }

  .icon-links:hover {
    color: white;
  }
  
  .icon-links i {
    font-size: 1.5rem;
  }

  .footer--links a {
    color: var(--highlight-2);
    text-transform: uppercase;
    transition: var(--trans);
  }

  .footer--links a:hover {
    color: var(--white);
  }

  /* images */
  img {
    width: 100%;
    object-fit: cover;
  }

  .block--img img {
   object-fit: contain;
  }

  /* layout */
  header{
    padding: 1rem 0;
  }

  footer {
    padding: 2em 0;
    font-size: 0.9rem;
  }

  main {
    padding:  3em 4em;
  }

  .hero--con {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;
    margin: 4em 0 7em;
  }
  
  .project--links {
    width: 100%;
    padding-right: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .grid {
    display: grid;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 4em 2em;
    margin-bottom: 6.5em;
  }

  .block--img {
    display: flex;
    padding: 0.5rem;
  }

  .grid--block, .stack--block {
    padding: 2em;
  }

  .stack--block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 4rem;
  }

  .stack-icon {
    color: var(--highlight-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 10em;
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--grey5);
    border-radius: 3px;
    box-shadow: 1px 2px 15px rgba(0,0,0,0.25);
    transition: var(--trans);
  }

  .stack-icon:hover {
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid var(--secondary);
    box-shadow: 1px 2px 15px rgba(0,0,0,0.50);
  }

  .closing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .closing .block-text {
    margin-bottom: 3em;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 2em;
  }

  .footer--links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 2.5rem;
  }

/* ------------------------ Media Queries ------------------------ */
@media screen and (max-width: 630px) {
  main {
    padding: 1rem 2rem;
  }

  .hero--con {
    display: flex;
    flex-direction: column;
  }

  .project--links {
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.5rem;
    padding-right: 0;
  }

  .link-subtitle {
    font-size: 2rem;
    writing-mode: horizontal-tb;
    transform: none;
  }

  .icon-links, .footer-link {
    width: 100%;
    margin-top: 1rem;
    border-radius: var(--br-sm);
    background-color: #3D56BD;
    color: var(--text-color);
    font-weight: bold;
    border: 1px solid var(--highlight-1);
    padding: 5px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: var(--trans);
    padding: 0.75rem 1.5rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .block-title {
    text-align: center;
  }

  .stack--block {
    padding-top: 0;
  }

  .stack-icon {
    width: 100%;
    justify-content: center;
    font-weight: bolder;
  }
  
  .footer--links {
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
    gap: 1.5rem;
    padding: 0 2rem;
  }

  .footer--links li {
    width: 100%;
  }

}




